# Java 编译输出
/target/
*/target/

# Maven 缓存、日志
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDE 文件
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log

# 临时文件
*.tmp
*.swp
*.bak

# OS / 构建工具自动生成的文件
/.factorypath
