server:
  port: 8081

spring:
  application:
    name: aftourism-portal
  datasource:
    url: jdbc:mysql://localhost:3306/aftourism?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
    port: 6379

mybatis:
  configuration:
    map-underscore-to-camel-case: true

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

file:
  upload-dir: uploads

logging:
  config: classpath:logback-spring.xml
