<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aftnos.aftourismserver.monitor.mapper.SystemMetricMapper">

    <insert id="insert" parameterType="aftnos.aftourismserver.monitor.pojo.SystemMetric" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_system_metric (
            host,
            cpu_usage,
            memory_usage,
            disk_usage,
            load_avg,
            remark
        ) VALUES (
            #{host},
            #{cpuUsage},
            #{memoryUsage},
            #{diskUsage},
            #{loadAvg},
            #{remark}
        )
    </insert>

    <select id="selectPage" parameterType="aftnos.aftourismserver.monitor.dto.SystemMetricPageQuery" resultType="aftnos.aftourismserver.monitor.pojo.SystemMetric">
        SELECT
            id,
            host,
            cpu_usage     AS cpuUsage,
            memory_usage  AS memoryUsage,
            disk_usage    AS diskUsage,
            load_avg      AS loadAvg,
            remark,
            create_time   AS createTime
        FROM t_system_metric
        <if test="host != null and host != ''">
            AND host = #{host}
        </if>
        <if test="startTime != null">
            AND create_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            AND create_time &lt;= #{endTime}
        </if>
        <choose>
            <when test="metricType != null and metricType.toUpperCase() == 'CPU'">
                <if test="minValue != null">
                    AND cpu_usage &gt;= #{minValue}
                </if>
                <if test="maxValue != null">
                    AND cpu_usage &lt;= #{maxValue}
                </if>
            </when>
            <when test="metricType != null and metricType.toUpperCase() == 'MEMORY'">
                <if test="minValue != null">
                    AND memory_usage &gt;= #{minValue}
                </if>
                <if test="maxValue != null">
                    AND memory_usage &lt;= #{maxValue}
                </if>
            </when>
            <when test="metricType != null and metricType.toUpperCase() == 'DISK'">
                <if test="minValue != null">
                    AND disk_usage &gt;= #{minValue}
                </if>
                <if test="maxValue != null">
                    AND disk_usage &lt;= #{maxValue}
                </if>
            </when>
        </choose>
        ORDER BY create_time DESC
    </select>

</mapper>
