<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aftnos.aftourismserver.auth.mapper.UserMapper">

    <resultMap id="UserResultMap" type="aftnos.aftourismserver.auth.pojo.User">
        <id property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
        <result property="createdAt" column="created_at" />
    </resultMap>

    <insert id="insert" parameterType="aftnos.aftourismserver.auth.pojo.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users (username, password, created_at)
        VALUES (#{username}, #{password}, #{createdAt})
    </insert>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT id, username, password, created_at
        FROM users
        WHERE username = #{username}
    </select>

</mapper>
