<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aftourism.admin.mapper.OperationLogMapper">

    <insert id="insert" parameterType="com.aftourism.admin.pojo.OperationLog" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_operation_log(
            trace_id,
            operator_id,
            operator_type,
            module_name,
            operation_name,
            request_uri,
            request_method,
            class_method,
            request_params,
            response_body,
            success_flag,
            error_msg,
            cost_ms,
            ip_address,
            user_agent,
            is_deleted
        ) VALUES (
            #{traceId},
            #{operatorId},
            #{operatorType},
            #{moduleName},
            #{operationName},
            #{requestUri},
            #{requestMethod},
            #{classMethod},
            #{requestParams},
            #{responseBody},
            #{successFlag},
            #{errorMsg},
            #{costMs},
            #{ipAddress},
            #{userAgent},
            0
        )
    </insert>

    <select id="selectLatest" resultType="com.aftourism.admin.pojo.OperationLog">
        SELECT *
        FROM t_operation_log
        WHERE is_deleted = 0
        ORDER BY create_time DESC
        LIMIT 20
    </select>
</mapper>
