<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aftourism.admin.mapper.SiteVisitStatsMapper">

    <select id="selectRecent" parameterType="int" resultType="com.aftourism.admin.pojo.SiteVisitStats">
        SELECT *
        FROM t_site_visit_stats
        WHERE is_deleted = 0
        ORDER BY stat_date DESC
        LIMIT #{limit}
    </select>
</mapper>
